extends layout

block content
    include header
    .activite
        .centerButton
            h1.titre Vos Activités : 
        .grid
            h3.grid-item Nom
            h3.grid-item Date
            h3.grid-item Heure départ
            h3.grid-item Durée
            h3.grid-item Distance
            h3.grid-item Frequence Min
            h3.grid-item Frequence Max
            h3.grid-item Frequence Avg
            h3.grid-item Supprimer

        each activity in activities
            .grid
                h4.grid-item= activity['name']
                h4.grid-item= activity['date']
                h4.grid-item= activity['startTime']
                h4.grid-item= activity['duration']
                h4.grid-item= `${Math.round(activity['distance'] * 100) / 100} km`
                h4.grid-item= activity['minHeartRate']
                h4.grid-item= activity['maxHeartRate']
                h4.grid-item= activity['avgHeartRate']
                h4.grid-item
                    form(method='POST' action='/activities/delete')
                        input(type='hidden' name='id' value=activity['idAct'])
                        button(type='submit') Supprimer



        .centerButton
            button.but
                a(href='/upload') Ajouter une activité
    include footer